html {
  font-family: Pretendard, sans-serif;
}

input,
textarea {
  @apply outline-none;
}

:root {
  /* 기본 텍스트 색 */
  --bc-text-color: #222222;
  /* 기본 외곽선 색 */
  --bc-border-color: #cccccc;
  --bc-border-width: 1px;
  --bc-rounded-sm: 4px;
  --bc-rounded: 8px;
  --bc-rounded-lg: 12px;

  --bc-control-height-sm: 24px;
  --bc-control-height: 32px;
  --bc-control-height-lg: 38px;
  --bc-control-gap: 4px;

  --bc-font-size-xs: 13px;
  --bc-font-size-sm: 14px;
  --bc-font-size-md: 16px;
  --bc-font-size-lg: 18px;
  --bc-font-size-xl: 20px;

  --bc-primary-color-main: #4478ff;
  --bc-primary-color-light: #a1bbff;
  --bc-primary-color-dark: #2659de;

  --bc-secondary-color-main: #a855f7;
  --bc-secondary-color-light: #c084fc;
  --bc-secondary-color-dark: #7e22ce;

  --bc-error-color-main: #ff4713;
  --bc-error-color-light: #ff471329;
  --bc-error-color-dark: #f81f55;

  --bc-warning-color-main: #ff8a00;
  --bc-warning-color-light: #ffcc80;
  --bc-warning-color-dark: #f57c00;

  --bc-info-color-main: #0288d1;
  --bc-info-color-light: #03a9f4;
  --bc-info-color-dark: #01579b;

  --bc-success-color-main: #03bf4e;
  --bc-success-color-light: #1dfc76;
  --bc-success-color-dark: #198602;

  --bc-gray-color-main: #636364;
  --bc-gray-color-light: #dcdcdc;
  --bc-gray-color-dark: #323232;

  --bc-dark-color-main: #212529;
  --bc-dark-color-light: #424649;
  --bc-dark-color-dark: #222222;

  --bc-disable-background: #f7f7fa;
  --bc-disable-text-color: #dcdcdc;
  --bc-disable-border-color: #dcdcdc;
  --bc-disable-cursor: not-allowed;
  --bc-disable-opacity: 0.25;

  --bc-focus-outline-size: 2px;
  --bc-focus-outline-offset: 2px;
  --bc-focus-outline-color: #3b82f6;

  --bc-placeholder-text-color: #dcdcdc;
  --bc-placeholder-font-weight: 500;
}
