$prefix: bc;
$ns: .$(prefix)-btn;

/* prettier-ignore */
$(ns) {
  @apply
  inline-flex
  flex-wrap
  items-center
  justify-center
  border
  border-solid
  border-transparent
  bg-transparent
  font-pretendard
  text-center
  select-none
  cursor-pointer
  no-underline;

  /* default */
  & {
    @apply 
    text-gray-500;
  }

  /* sizes */
  &-xs {
    @apply
      py-0
      px-[7px]
      min-h-[18px]
      text-xs;
  }
  &-sm {
    @apply
      py-0
      px-[7px]
      min-h-[24px]
      text-sm;
  }
  &-md {
    @apply
      py-[3px]
      px-[15px]
      min-h-[32px]
      text-base;
  }
  &-lg {
    @apply
      py-[5px]
      px-[15px]
      min-h-[40px]
      text-lg;
  }

  /* block */
  &-block {
    @apply w-full;
  }

  /* shape */
  &-round {
    @apply rounded-6;
  }

  &-circle {
    &:where($(ns)-xs) {
      @apply
      p-0
      h-6
      w-6
      rounded-full;
    }
    &:where($(ns)-sm) {
      @apply
      p-0
      h-8
      w-8
      rounded-full;
    }
    &:where($(ns)-md) {
      @apply
      p-0
      h-12
      w-12
      rounded-full;
    }
    &:where($(ns)-lg) {
      @apply
      p-0
      h-16
      w-16
      rounded-full;
    }
  }

  /* variant */
  &-text {
    @apply
    text-gray-500;
    &:hover:not($(ns)-disabled) {
      @apply 
      bg-gray-300/20;
    }
    &$(ns)-primary {
      @apply
      text-primary-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-primary-light/20;
      }
    }
    &$(ns)-secondary {
      @apply
      text-secondary-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-secondary-light/20;
      }
    }
    &$(ns)-success {
      @apply
      text-success-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-success-light/20;
      }
    }
    &$(ns)-error {
      @apply
      text-error-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-error-light/20;
      }
    }
    &$(ns)-info {
      @apply
      text-info-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-info-light/20;
      }
    }
    &$(ns)-warning {
      @apply
      text-warning-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-warning-light/20;
      }
    }
    &$(ns)-dark {
      @apply
      text-neutral-800;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-neutral-500/20;
      }
    }
  }

  &-contained {
    @apply 
    bg-gray-250
    text-white;
    &:hover:not($(ns)-disabled) {
      @apply
      bg-gray-500;
    }
    &$(ns)-primary {
      @apply
    bg-primary-main
    text-white;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-primary-dark;
      }
    }
    &$(ns)-secondary {
      @apply 
      bg-secondary-main
      text-white;
      &:hover:not($(ns)-disabled) {
        @apply 
        bg-secondary-dark;
      }
    }
    &$(ns)-success {
      @apply 
      bg-success-main
      text-white;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-success-dark;
      }
    }
    &$(ns)-error {
      @apply 
      bg-error-main
      text-white;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-error-dark;
      }
    }
    &$(ns)-info {
      @apply
      bg-info-main
      text-white;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-info-dark;
      }
    }
    &$(ns)-warning {
      @apply 
      bg-warning-main
      text-white;
      &:hover:not($(ns)-disabled) {
        @apply 
        bg-warning-dark;
      }
    }
    &$(ns)-dark {
      @apply
      bg-neutral-800
      text-white;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-neutral-950;
      }
    }
  }

  &-outlined, &-dashed {
    @apply
    border-gray-200
    bg-transparent
    text-gray-500;
    &:hover:not($(ns)-disabled) {
      @apply 
      bg-gray-300/20;
    }
    &$(ns)-primary {
      @apply
      border-primary-main
      text-primary-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-primary-light/20;
      }
    }
    &$(ns)-secondary {
      @apply
      border-secondary-main
      text-secondary-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-secondary-light/20;
      }
    }
    &$(ns)-success {
      @apply
      border-success-main
      text-success-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-success-light/20;
      }
    }
    &$(ns)-error {
      @apply
      border-error-main
      text-error-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-error-light/20;
      }
    }
    &$(ns)-info {
      @apply
      border-info-main
      text-info-main;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-info-light/20;
      }
    }
    &$(ns)-warning {
      @apply
      border-warning-main 
      text-warning-main;
      &:hover:not($(ns)-disabled) {
        @apply 
        bg-warning-light/20;
      }
    }
    &$(ns)-dark {
      @apply
      border-neutral-800
      text-neutral-800;
      &:hover:not($(ns)-disabled) {
        @apply
        bg-neutral-500/20;
      }
    }
  }

  &-dashed {
    @apply border-dashed;
  }
  
  /* icon */
  &-start-icon, &-end-icon {
    display: inherit;
  }

  &-start-icon {
    @apply mr-2;
  }

  &-end-icon {
    @apply ml-2;
  }

  svg {
    @apply
    inline-block
    fill-current
    select-none;
    width: 1em;
    height: 1em;
    font-size: inherit;
  }

  > span > .icon,
  > .icon {
    &-xs {
      svg {
        @apply text-lg;
      }
    }
    &-sm {
      svg {
        @apply text-xl;
      }
    }
    &-md {
      svg {
        @apply text-2xl;
      }
    }
    &-lg {
      svg {
        @apply text-3xl;
      }
    }
  }

  /* disabled */
  &-disabled,
  &:disabled {
    @apply 
    text-gray-250
    cursor-not-allowed;

    &:where($(ns)-contained) {
      @apply
      border-gray-200
      bg-gray-100;
    }
    &:where($(ns)-outlined, $(ns)-dashed) {
      @apply
      border-gray-200
    }
  }
}
