$ns: .bc-calendar;

$date-size: 36px;

$(ns)-wrap {
  & {
    @apply border bg-white p-2;
    border-radius: var(--bc-rounded);
  }

  $(ns) {
    &-header {
      & {
        @apply flex items-center p-1 text-center;
      }

      &-title {
        @apply grow py-2 text-xs font-black;
      }

      &-button-wrap {
        & {
          @apply flex-none;
        }

        button {
          @apply py-2;
        }
      }
    }

    &-weeknames {
      &-wrap {
        @apply flex justify-between px-2 text-xs font-bold;
      }

      &-item {
        @apply flex h-[$(date-size)] w-[$(date-size)] items-center justify-center capitalize;
        color: var(--bc-gray-color-main);
      }
    }

    &-week {
      & {
        @apply flex justify-between px-2 text-xs font-bold;
      }
      &-day {
        & {
          @apply relative flex h-[$(date-size)] w-[$(date-size)] cursor-pointer items-center justify-center rounded-full transition-colors ease-in-out;
        }

        &:hover {
          background-color: var(--bc-gray-color-light);
        }

        &-outofmonth {
          color: var(--bc-disable-text-color);
        }

        &-selected {
          & {
            @apply text-white;
            background-color: var(--bc-primary-color-main);
          }

          &:hover {
            background-color: var(--bc-primary-color-light);
          }
        }

        &-hasitem {
          @apply h-1 w-2 rounded-full  transition-all ease-in-out;
          background: var(--bc-gray-color-main);

          &-selected {
            @apply w-6;
            background-color: var(--bc-primary-color-light);
          }
        }
      }
    }
  }
}
